<div class="row">
  <div class="small-12 columns botton expanded custom2">
    <h2><%= link_to(@marquee.html_safe, event_path(@event.jb_event_id), method: :get) %></h2>
  </div>
</div>

<%= form_for :direct_message, remote: true do |ndm| %>
  <%= ndm.hidden_field :event_id, value: @event.id %>
  <%= ndm.hidden_field :sender_id, value: @user.id %>
  <%= ndm.hidden_field :recipient_id, value: @other_user.id %>
  <%= ndm.text_area :body, rows: 3, label: false %>
  <%= ndm.submit :create, value: "Holler", class: "radius button custom large expanded"  %>
<% end %>

<hr>

<div class="all_messages">
  <% if @aggregate_messages.present? %>  
    <% @aggregate_messages.reverse_each do |dm| %>
      <% if dm.sender_id == @user.id %>
        <div class="single_message mine row">
          <div class="msg_body small-7 column"><%= dm.body %></div>
          <div class="msg_info small-3 column">
            <strong><em>
              <div><%= dm.created_at.strftime("%-m/%-d/%y") %></div>
              <div><%= dm.created_at.strftime("%-I:%M:%S %P") %></div>
            </em></strong>
          </div>
          <div class="small-2 column img_cont">
            <%= image_tag @user.image %>
          </div>
        </div>
      <% else %>
        <div class="single_message other row">
          <div class="small-2 column img_cont">
            <%= image_tag @other_user.image %>
          </div>
          <div class="msg_info small-3 column">
            <strong><em>
              <div><%= dm.created_at.strftime("%-m/%-d/%y") %></div>
              <div><%= dm.created_at.strftime("%-I:%M:%S %P") %></div>
            </em></strong>
          </div>
          <div class="msg_body small-7 column"><%= dm.body %></div>
        </div>
      <% end %>
    <% end %>
  <% else %>

    <div class="single_message mine row">
      <div class="small-12 column">
        There are no messages yet. Post something!
      </div>
    </div>

  <% end %>
</div>