<h2>My Chats</h2>

  <% @items.each do |i| %>
    <% if i[:event_venue].present? %>
  
      <div class="row">
        <div class="small-12 colummns button custom">  
          <% if i[:artist_names].length > 1 %>
            <%= i[:artist_names].join(", ") %> 
          <% else %>
            <%= i[:artist_names][0] %> 
          <% end %>
          
         <span> @ </span><%= i[:event_venue]['Name'] %><span> on </span><%= DateTime.parse(i[:event_date]).strftime("%-m/%-d/%y") %>
         
         <br>

         (Group Chat)

        </div>
      </div>


      <% i[:chat_partners].each do |cp| %>
        <div class="row">
          <div class="small-12 colums">
            <%= link_to(cp[:partner_name], event_dm_path(i[:event_id], current_user.id, cp[:partner_id]), method: :get, class: "large button expanded reverse") %>
          </div>
        </div>
      <% end %>


    <% else %>
      <div class="row">
        <div class="small-12 colummns">  
          You have no chats!
        </div>
      </div>
    <% end %>
        
  <% end %>
