<div class="row">
  <div class="small-12 columns expanded button custom2">
    <h2><%= @marquee.html_safe %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to("See Who's Going!", event_users_path(@event.id), method: :get, class: "large custom expanded button") %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns expanded button custom2">
    <h2>Send a Message to Everyone Going:</h2>
  </div>
</div>

<%= form_for :group_message, remote: true do |ngm| %>
  <%= ngm.hidden_field :event_id, value: @event.id %>
  <%= ngm.hidden_field :user_id, value: @user.id %>
  <%= ngm.text_area :body, rows: 3, label: false %>
  <%= ngm.submit :create, value: "Holler", class: "radius button custom"  %>
<% end %>

<div class="all_messages">
  <% if @group_messages.present? %>  

    <% @group_messages.reverse_each do |gm| %>
      <% if gm.user.id == @user.id %>
        
        <div class="single_message">
          <div class="mine row">
            <div class="msg_body small-12 column">
              <%= gm.body %>
            </div>
          </div>

          <div class="mine row">
            <div class="msg_info small-12 column">
              <strong><em>Yours Truly @ <%= gm.created_at.strftime("%-I:%M:%S %P") %> on <%= gm.created_at.strftime("%-m/%-d/%y") %></em></strong>
            </div>
          </div>
        </div>

      <% else %>
        <div class="single_message">
          <div class="other row">
            <div class="msg_body small-12 column">
              <%= gm.body %>
            </div>
          </div>

          <div class="single_message other row">
            <div class="msg_info small-12 column">
              <strong><em><%= gm.user.name %> @ <%= gm.created_at.strftime("%-I:%M:%S %P") %> on <%= gm.created_at.strftime("%-m/%-d/%y") %></em></strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>

    <div class="single_message row">
      <div class="msg_info small-12 column">
        There are no messages yet. Post something!
      </div>
    </div>

  <% end %>

</div>