<div class="background_wrapper_1">
  
  <div class="row">
    <h2 class="small-12 column heading">
      <% if current_user.sign_in_count > 1 %>
        Welcome back, <%= current_user.name.split(" ").first %>!
      <% else %>
        Welcome, <%= current_user.name.split(" ").first %>!
      <% end %>
    </h2>
  </div>

  <div class="search_form">

    <%= form_tag("/results", method: "get") do %>

      <%= label_tag(:q_name, "Search Artists and Venues by Name:", class: "button reverse expanded") %>
      <%= text_field_tag(:q_name) %>

      <%= submit_tag("Search by Name", class: "custom button") %>
    <% end %>

  </div>
  
  <div class="search_form">

    <%= form_tag("/results", method: "get") do %>
      
      <%= label_tag(:q_zip_code, "Search Events and Venues by Zip Code:", class: "button reverse expanded") %>
      <%= text_field_tag(:q_zip_code) %>

      <%= submit_tag("Search by Zip Code", class: "custom button") %>
    <% end %>

  </div>

</div>

<div class="background_parallax"></div>

<div class="background_wrapper_2">

  <div class="app_info row">
    <h2>Learn More</h2>
    <p>Have you been too shy to go to a concert alone?  Well now you don't have to be!</p>
    <p>With Show UP! &trade; you can meet before the show!</p>
    <p>It's very simple. Search for your favorite artists or venues, and then click "I'm Going." After that, you can find other people going and message them.  Or you can message the whole group of people going.</p>
    <p>Never go to a concert alone again!</p>
  </div>

</div>



