<% if @artist_results.present? %>

  <h3>Artists:</h3>
  <ol>  
    <% @artist_results.each do |a| %>
      <li><%= link_to(a[:artist_name], artist_events_path(a[:jb_artist_id]), method: :get) %></li>
    <% end %>
  </ol>

<% end %>

<br>
<!-- Display Venue Results -->
<% if @venue_results.present? %>

  <h3>Venues:</h3>
  <ol>  
    <% @venue_results.each do |v| %>
      <li><%= link_to(v[:venue_name], venue_events_path(v[:jb_venue_id]), method: :get) %></li>
    <% end %>
  </ol>

<% end %>

<!-- Display Events Results -->
<% if @event_results.present? %>

  <h3>Events:</h3>
  <ol>
    <% @event_results.each do |e| %>
      <li>
        <ul>
          <li><%= link_to("View This Event", event_path(e[:jb_event_id]), method: :get) %></li>
          <li>Date: <%= DateTime.parse(e[:event_date]).strftime("%-m/%-d%y") %></li>
          <!-- Possible to put in link to venue events?  Does search give me ID? -->
          <li>Venue: <%= link_to(e[:event_venue]['Name'], venue_events_path(e[:event_venue]['Id']), method: :get)  %> </li>
          <li>Artists:
            <ol>
              <% e[:event_artists].each do |a| %>
                <li><%= link_to(a['Name'], artist_events_path(a['Id']), methood: :get) %></li>
              <% end %>
            </ol>
          </li>
          <li><%= link_to("Buy Tickets", "#{e[:event_url]}") %></li>
        </ul>
      </li>
      <br>
    <% end %>
  </ol>

<% end %>
