<% if @artist_results.present? %>

  <div class="row">
    <div class="small-12 column expanded button custom2">
      <h2>Artists:</h2>
    </div>
  </div>

  <% @artist_results.each do |a| %>
    <div class="row">
      <div class="small-12 column expanded large button custom">
        <%= link_to(a[:artist_name], artist_events_path(a[:jb_artist_id]), method: :get) %>
      </div>
    </div>
  <% end %>

<% end %>

<br>
<!-- Display Venue Results -->
<% if @venue_results.present? %>

  <div class="row">
    <div class="small-12 column expanded button custom2">
      <h2>Venues:</h2>
    </div>
  </div>

  <% @venue_results.each do |v| %>
    <div class="row">
      <div class="small-12 column expanded large button custom">
        <%= link_to(v[:venue_name], venue_events_path(v[:jb_venue_id]), method: :get) %>
      </div>
    </div>
  <% end %>

<% end %>

<!-- Display Events Results -->
<% if @event_results.present? %>

  <div class="row">
    <div class="small-12 column expanded button custom2">
      <h2>Evnts:</h2>
    </div>
  </div>

  <% @event_results.each do |e| %>
    <div class="row">
      <div class="small-12 column expanded large button custom">
        <%= link_to("#{@artist_names} @ #{e[:event_venue]['Name']} on #{DateTime.parse(e[:event_date]).strftime('%-m/%-d%y')}", event_path(e[:jb_event_id]), method: :get) %>
      </div>
    </div>

   <div class="row">
      <div class="small-12 column expanded button custom"> 
        <%= link_to("Venue Website", venue_events_path(e[:event_venue]['Id']), method: :get)  %> 
      </div>
    </div>

    <div class="row">
      <div class="small-12 column expanded button custom"> 
        Artists:
      </div>
    </div>
          
    <% e[:event_artists].each do |a| %>
      <div class="row">
        <div class="small-12 column expanded button custom">
          <%= link_to(a['Name'], artist_events_path(a['Id']), methood: :get) %>
        </div>
      </div>
    <% end %>   

    <div class="row">
      <div class="small-12 column expanded button custom">
        <%= link_to("Buy Tickets", "#{e[:event_url]}") %>
      </div>
    </div>

    <hr>
  <% end %>

<% end %>
