<!-- Search field for artist name -->
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q_artist_name, "Search Artist by Name:") %>
  <%= text_field_tag(:q_artist_name) %>
  <%= submit_tag("Go!") %>
<% end %>
<!-- Display Artist Results -->
<% if @artist_results.present? %>

<h3>Artists:</h3>
  <ol>  
    <% @artist_results.each do |a| %>
      <li><%= a[:artist_name] %> <%= link_to("Find Events", artist_event_path(a[:artist_id]), method: :get) %></li>
    <% end %>
  </ol>

<% end %>

<br>
<!-- Search field for venue name -->
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q_venue_name, "Search Venue by Name:") %>
  <%= text_field_tag(:q_venue_name) %>
  <%= submit_tag("Go!") %>
<% end %>

<br>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q_venue_zipCode, "Search Venue by Zip Code:") %>
  <%= text_field_tag(:q_venue_zipCode) %>
  <%= submit_tag("Go!") %>
<% end %>

<!-- Display Venue Results -->
<% if @venue_results.present? %>

<h3>Venues:</h3>
  <ol>  
    <% @venue_results.each do |v| %>
      <li><%= v[:venue_name] %> <%= link_to("Find Events", venue_event_path(a[:venue_id]), method: :get) %></li>
    <% end %>
  </ol>

<% end %>
<br>

<!-- Form for searching events by location/date -->
<%= form_tag("/", method: "get") do %>
  <%= label_tag("Search Event by Zip Code And/Or Date:") %>

  <%= label_tag(:q_event_zipCode, "Zip Code:") %>
  <%= text_field_tag(:q_event_zipCode) %>

  <%= label_tag(:q_event_radius, "Radius (in Miles):") %>
  <%= text_field_tag(:q_event_radius) %>

  <%= label_tag(:q_event_startDate, "Start Date:") %>
  <%= date_field(:q_event_startDate, :value => Time.now.strftime('%Y-%m-%d'), :min => Date.today) %>

  <%= label_tag(:q_event_endDate, "End Date Code:") %>
  <%= date_field(:q_event_endDate, :value => Time.now.strftime('%Y-%m-%d')) %>

  <%= submit_tag("Go!") %>
<% end %>

<br>

<!-- Display Event Information -->
<% if @event_results.present? %>

<h3>Events:</h3>
  <ol>
    <%= @event_results.each do |e| %>
      <li>
        <ul>
          <li>Event Date: <%= e[:event_date] %></li>
          <!-- Possible to put in link to venue events?  Does search give me ID? -->
          <!-- Don't think so but we'll see. -->
          <li>Event Venue: <%= e[:event_venue] %></li>
          <li>Event Artists:
            <ol>
              <% e[:event_artists].each do |a| %>
              <!-- I hope this link works. -->
              <!-- It should because artists is an array -->
                <li><% a['Name'] %> <%= link_to("Find Events", artist_event_path(a['Id']), method: :get) %></li>
              <% end %>
            </ol>
          </li>
          <li><%= link_to("Buy Tickets", "#{e[:event_url]}") %></li>
        </ul>
      </li>
    <% end %>
  </ol>

<% end %>

<!-- User Information from Facebook -->
<% if user_signed_in? %>
  <h3>Facebook Info:</h3>

  <ul>
    <li>Email: <%= @user.email %></li>
    <li>Name: <%= @user.name %></li>
    <li>Image: <%= image_tag @user.image %></li>
  </ul>
<% end %>

<!-- JamBase Attribution -->
<a href="http://www.JamBase.com" target="_top" title="JamBase Concert Search">
<img src= "http://images.jambase.com/logos/jambase140x70.gif" alt="Search JamBase Concerts" border="0" /></a>