<div class="row">
  <div class="marquee_title small-1 column">See:<br>At:<br>On:</div>
  <div class="marquee_content small-7 column">
    <%= @marquee.html_safe %>
  </div>
  <div class="small-3 column attend_button_container">
    <!--  -->
    <% if @user_going %>
      <%= link_to("You're Going to this Event", user_event_path(@user_event.id), method: :get, class: "large button attend") %>
    <% else %>
      <%= link_to("I'm going!", user_event_path(@user_event.id), method: :get, class: "large button attend") %>
    <% end %>
    <!-- End comments -->
  </div>
</div>

<br>

<% if @event_artists.length > 1 %>
  <div class="row">
    <h3>Artists:</h3>
      <ul>
        <% @event_artists.each do |a| %>
          <li><%= a['Name'] %></li>
        <% end %>
      </ul>
  </div>
<br>
<% end %>


<h3>Venue:</h3> 

<ul>
  <li><%= @event_venue['Name'] %> <%= link_to("(Venue Website)", @event_venue['Url'], method: :get) %></li>
  <li><%= @event_venue['Address'] %><br><%= @event_venue['City'] %>, <%= @event_venue['StateCode'] %> <%= @event_venue['ZipCode'] %></li>
</ul>

<div><%= link_to("Buy Tickets!", @event_url, method: :get) %></div>

<hr>