<div class="row">
  <div class="marquee_title small-1 column">See:<br>At:<br>On:</div>
  <div class="marquee_content small-7 column">
    <%= @marquee.html_safe %>
  </div>
  <div class="small-3 column attend_button_container">
    <% if @event.user_attending?(current_user) %>
      <%= link_to("Unattend", unattend_path(@event.id), method: :delete, class: "large button unattend", remote: true) %>
    <% else %>
      <%= link_to("Attend", attend_path(@event.id), method: :post, class: "large button attend", remote: true) %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <%= link_to("See More Events from Artist", artist_event_path()) %>
</div>

<% if @event_artists.length > 1 %>
  <div class="row">
    <h3>Artists:</h3>
      <ul>
        <% @event_artists.each do |a| %>
          <li><%= a['Name'] %></li>
        <% end %>
      </ul>
  </div>
<br>
<% end %>


<h3>Venue:</h3> 

<ul>
  <li><%= @event_venue['Name'] %> <%= link_to("(Venue Website)", @event_venue['Url'], method: :get) %></li>
  <li><%= @event_venue['Address'] %><br><%= @event_venue['City'] %>, <%= @event_venue['StateCode'] %> <%= @event_venue['ZipCode'] %></li>
</ul>

<div><%= link_to("Buy Tickets!", @event_url, method: :get) %></div>

<hr>

<% if user_signed_in? && %>

  <h3>Group Message:</h3>
  
  <%= form_for @new_group_message, remote: true do |ngm| %>
    <%= ngm.hidden_field :event_id, value: @event.id %>
    <%= ngm.hidden_field :user_id, value: @user.id %>
    <%= ngm.text_area :body, rows: 5, label: false %>
    <%= ngm.submit "Make Post"  %>
  <% end %>
  
  <div class="all_group_messages">
    <% if @group_messages.present? %>  
      <% @group_messages.reverse_each do |gm| %>
        <hr>
        <div class="single_group_message">
          <div class="gm_body"><%= gm.body %></div>
          <div class="gm_info"><strong><em><%= gm.user.name %></em></strong></div>
          <div class="gm_info"><strong><em><%= gm.created_at.strftime("%-m/%-d/%y") %></em></strong></div>
          <div class="gm_info"><strong><em><%= gm.created_at.strftime("%-I:%M:%S %p %Z") %></em></strong></div>
        </div>
        <hr>
      <% end %>
    <% else %>
      <div>There are no messages yet. Post something!</div>
    <% end %>
  </div>

<% else %>

<% end %>

