<% if @jb_events.blank? || @jb_events[0][:jb_event_id] != 0 %>

    <% @jb_events.each_with_index do |j, i| %>
      
      <a href='<%= event_path(j[:jb_event_id]) %>' class="large button custom2 expanded">
        <div class="row event_info">
          <div class="small-12 columns">
            <h2><%= @artist_names %></h2>
          </div>
        </div>
      </a>

      <div class="row">
        <div class="small-12 columns">
          <%= link_to("See the Group Chat", event_group_messages_path(@user_events[i].event_id), method: :get, class: "button large expanded custom") %>
        </div>

        <div class="small-12 columns">
          <%= link_to("See Who's Going", event_users_path(@user_events[i].event_id), method: :get, class: "button large expanded custom") %>
        </div>
      </div>

      <hr>
        
    <% end %>

<% else %>

  <div class="row">
     <div class="small-12 columns">
        You're not going to any shows.  Time to <%= link_to("change", root_path, method: :get) %> that...
    </div>
  </div>

<% end %>