<div class="row">
  <div class="marquee_title small-4 column">You're seeing:</div>
  <div class="marquee_content small-8 column">
    <ul>
      <% @artist_names.each do |a| %>
        <li><%= a %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="marquee_title small-4 column">On:</div>
  <div class="marquee_content small-8 column">
    <ul><li><%= DateTime.parse(@event_date).strftime("%-m/%-d/%y") %></li></ul>
  </div>
</div>

<div class="row">
  <div class="marquee_title small-4 column">At:</div>
  <div class="marquee_content small-8 column">
    <ul>
      <li><%= @event_venue['Name'] %> <%= link_to("(Venue Website)", @event_venue['Url'], method: :get) %></li>
      <li><%= @event_venue['Address'] %><br><%= @event_venue['City'] %>, <%= @event_venue['StateCode'] %> <%= @event_venue['ZipCode'] %></li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="attend_button_container">
    <% if @user_going %>
      <%= link_to("I am no longer going to this event!", unattend_path(params[:id]), method: :post, class: "large button unattend alert expanded") %>  
      <% end %>    
  </div>
</div>


<br>

<h4>More Options:</h4>
<ul>
  <li><%= link_to("Buy Tickets!", @event_url, method: :get) %></li>

  <li><%= link_to("Event Group Chat", event_group_messages_path(@event.id), method: :get) %></li>

  <li>LINK TO DM CYCLER</li>

</ul>

