<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Show Up" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

  <%= display_flash_messages %>

  <nav class="top-bar" id="main_nav">
    <span class="page_header"><%= @page_header ||= "Show Up" %></span>
    <div class="top-bar-right" id="prof_pic">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <% if user_signed_in? %>
            <%= image_tag current_user.image %>
          <% else %>
            <li><%= link_to('Login/Sign Up', new_user_session_path, method: :get, class: "button alert") %></li>
          <% end %>
            <ul class="dropdown menu" data-dropdown-menu>
              <% if user_signed_in? %>
                <li><%= link_to('My Events', user_events_path, method: :get, class: "button custom2") %></li>
                <li><%= link_to('Search', root_path, method: :get, class: "button custom2") %></li>
                <li><%= link_to('My Chats', my_chats_path(current_user.id), method: :get, class: "button custom2") %></li>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button custom2") %></li>
              <% end %>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- <div class="spacer"></div> -->

  <%= yield %>
  
  <br>

  <!-- JamBase Attribution -->
  <div>Powered By:</div>
  <a href="http://www.JamBase.com" target="_top" title="JamBase Concert Search">
  <img src= "http://images.jambase.com/logos/jambase140x70.gif" alt="Search JamBase Concerts" border="0" /></a>

  </body>
</html>
